
.comment-preview{
    display: flex;

    full-user-name{
        display: inline-block;
    }
    
    .commented-user{
        font-weight: bold; 
        padding-right: 0.3rem;
    }
    .liked{
        display: inline-block;
        .comment-like{
            cursor: pointer;
            padding-left: 5px;
            width: 20px;
        }
    }
}