.posti-list-container{
    background-color: rgb(251, 248, 248);
    width: 100vw;

    .posti-list{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include for-mobile-layout {
    }

}