.posti-comment{
    .user-name{
        font-weight: bold; 
        padding-right: 0.3rem;   
    }
    .comment{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .all-comments{
        cursor: pointer;
        color:rgb(167, 164, 164);
        font-weight: lighter;
    }
}