.posti-list-container{
    background-color: rgb(251, 248, 248);

    line{
        background-color:rgb(248, 242, 242);
    }
    .posti-list{
        margin: 1.5rem 0;
        padding-top: 1.7rem;
    }

}