.posti-list-container{
    background-color: rgb(251, 248, 248);

    .posti-list{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include for-mobile-layout {
        // .posti-list{
        //     padding-top: 4px;
        //     padding-bottom: 4px;
        // }
    }

}